body {
	margin: 0;
}
.h-100 {
	height: 100%;
}
.flex {
	display: flex;
}
html {
	background: #7e7b90;
}

.sidebar {
	width: 75px;
	padding: 5px;
	background-color: #702ba5;
    border-bottom-right-radius: 5px;
    overflow-y: hidden;
    background-color: #702ba5;
}

.app-body {
	flex: 1 1 0;
}
.app-container {
	min-height: 100%;
	.actions-bar {
	    display: flex;
	    width: 100%;
	    background-color: #745b88;
	    padding: 5px;
	}
}