.time-traker {
	border: solid;
	max-width: 500px;
	border-radius: 10px;
	margin: 5px;

	.trak-container {
		display: flex;
		max-width: 300px;
		margin: 10px;

		.trak-timer {
			margin: 0 10px;

			.trak-number {
				margin-right: 10px;
			}

			.trak-time {
				min-width: 35px
			}
		}
	}
	.sub-task {
		display: flex;

		.tab {
			width: 75px
		}
	}
}
